/* Boutons par défaut */
.btn {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 50px;
  transition: 0.5s;
}

/* Listes à puces : pour mettre une bootstrap image comme puce */
.content ul {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0 0 28px;
    position: relative;
  }

  i {
    left: 0;
    top: 7px;
    position: absolute;
    font-size: 20px;
    color: $color2;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.hero-article {
  height: 300px;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

/* Swiper */
.swiper-container {
  width: 100%;
  height: 200px;
}

.swiper-slide {
  //text-align: center;
  //font-size: 75%;
  background: #fff;
  width: auto;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  h5 {
      font-size: 0.9em;
  }
  p {
      font-size: 0.7em;
  }

}

